<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
    <link rel="stylesheet" href="ninjas_style.css">
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cesar Francisco</td>
                    <td>25</td>
                    <td>Male</td>
                    <td>princexcesar@gmail.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Maria Juana</td>
                    <td>24</td>
                    <td>Female</td>
                    <td>maryjane@gmail.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Pedro Penduko</td>
                    <td>31</td>
                    <td>Male</td>
                    <td>pedropenduko@gmail.com</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Emilio Jacinto</td>
                    <td>35</td>
                    <td>Male</td>
                    <td>emiliojacinto@gmail.com</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Juan Dela Cruz</td>
                    <td>27</td>
                    <td>Male</td>
                    <td>delacruzjuan@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>